build/
install/
log/

src/build/
src/install/
src/log/

.vscode/
src/.vscode/

__pycache__/
*.pyc

*.pdf
*.gv
*.deb

src/aws-robomaker-small-warehouse-world/
src/vectorbots_v2/
src/my_robot_stack/
src/robot_mover/
